* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: white;
}

button,
input,
textarea,
select {
  font: inherit;
}

.game-title {
  text-align: center;
  margin-top: 2%;
}

.game {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  width: 80vh;
  height: 50vh;
  margin: 10% auto;
}

.cell {
  padding: auto;
}

.land {
  background-color: purple;
}
.road {
  background-color: grey;
}
.water {
  background-color: lightblue;
}
.grass {
  background-color: green;
}

.frog {
  background-color: limegreen !important;
}
